<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table table-bordered border-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">ToDo</th>
                        <th scope="col">Completed</th>
                        <th scope="col">UserID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of todo.todos">
                        <td>{{i.id}}</td>
                        <td>{{i.todo}}</td>
                        <td>{{i.completed}}</td>
                        <td>{{i.userId}}</td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>